*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #f0f2f5;;
}

div.img > img{
    height: 106px;
    margin-left: -28px;
    /* padding: ; */
}

.ladoesquerdo{
    padding: 0 32px 0 0;
    display: flex;
    flex-direction: column;
}

.textodalogo{
    font-size: 1.5rem;
    margin-top: 0;
}

.textoFinal{
    font-size: 14px;
    text-align: center;
}

.ladoDireito .textoFinal .link{
    color: #1c1e21;
    text-decoration: none;
}

.formulario{
    background-color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    margin-top: 200px;
    width: 400px;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.formulario a{
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;

}

.formulario hr{
    opacity: 30%;
}

input{
    width: 100%;
    height: 46px;
    margin-bottom: 16px;
    padding: 0 10px;
    border-radius: 5px;
}

.entrar{
    font-size: 1.25rem;
    background-color: #1877f2;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    width: 100%;
    height: 46px;
    font-weight: bold;
    margin-bottom: 10px;
}

.criarNovaConta{
    background-color: #42b72a;
    color: white;
    border: none;
    border-radius: 6px;
    height: 46px;
    font-size: 1rem;
    font-weight: bold;
    margin: 10px;
}

.criarNovaConta:hover{
    background-color: darkgreen;
}